<div class="container">
  <h1>{{ title }}</h1>

  <div class="controls">
    <label>
      Data (DD-MM-YYYY):
      <!--  <input [(ngModel)]="dateInput" placeholder="np. 2026-01-30" />  -->
      <input type="date" [(ngModel)]="dateInput">
    </label>

    <button (click)="fetchFromNbp()" [disabled]="loading">Pobierz kursy z NBP</button>
    <button (click)="loadLatest()" [disabled]="loading">Pokaż najnowsze kursy</button>
    <button (click)="loadByDate()" [disabled]="loading">Pokaż kursy dla wybranej daty</button>
  </div>

  <div class="summary-controls">
    <label>
      Okres:
      <select [(ngModel)]="summaryPeriod">
        <option value="year">rok</option>
        <option value="quarter">kwartał</option>
        <option value="month">miesiąc</option>
        <option value="day">dzień</option>
      </select>
    </label>
    <button (click)="loadSummary()" [disabled]="loading">Pokaż podsumowanie</button>
  </div>

  <div class="message" *ngIf="message">{{ message }}</div>

  <div class="latest" *ngIf="latestData">
    <h2>Kursy ({{ latestData.date }})</h2>
    <table>
      <thead>
        <tr><th>Code</th><th>Currency</th><th>Rate</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of latestData.rates">
          <td>{{ r.code }}</td>
          <td>{{ r.currency }}</td>
          <td>{{ r.rate }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="summary" *ngIf="summaryData">
    <h2>Summary ({{ summaryData.period }})</h2>
    <div *ngFor="let row of summaryData.data | keyvalue">
      <h3>{{ row.key }}</h3>
      <table>
        <thead>
          <tr><th>Code</th><th>Currency</th><th>Rate</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of row.value">
            <td>{{ r.code }}</td>
            <td>{{ r.currency }}</td>
            <td>{{ r.rate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>